################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeoComputaionala/Seminar2/Seminaru2/.vs/Seminaru2/FileContentIndex/421f0375-6229-4ecf-affc-9fb85d99c834.vsidx
/GeoComputaionala/Seminar2/Seminaru2/.vs/Seminaru2/FileContentIndex/c14bf95f-10e9-457b-b755-ae2829b1654c.vsidx
/AF/Curs3/.vs/Curs3/FileContentIndex/46410e4f-29a8-48b7-82c5-efb88c2161a8.vsidx
/AF/Curs3/.vs/Curs3/FileContentIndex/a67cde0f-7507-4745-840c-a74b0c5b2211.vsidx
/POO/Lab3/Laborator3/.vs/Laborator3/FileContentIndex/aa7d50b3-e225-4591-b430-411c812849ba.vsidx
/POO/Lab3/Laborator3/.vs/Laborator3/FileContentIndex/ee236888-88d6-4b99-8784-3db42b5cd7ab.vsidx
/POO/Lab3/Laborator3/.vs/Laborator3/FileContentIndex/0c807f61-62e6-4f49-bd48-6e92c6e5a766.vsidx
/GeoComputaionala/Seminar3/.vs/Seminar3/FileContentIndex
/AF/Curs4/.vs/Curs4/FileContentIndex
/POO/Lab4/.vs/Lab4/FileContentIndex/513da3ed-e7ed-471d-8b4b-a3314e5f4ca4.vsidx
/POO/Lab4/.vs/Lab4/FileContentIndex/fae26497-3176-4a80-bdd1-b96997660b3c.vsidx
/GeoComputaionala/Seminar4/.vs/Seminar4/FileContentIndex
/AF/Proiecte de Laborator/Vector de frecventa/.vs/Vector de frecventa/FileContentIndex
/AF/Proiecte de Laborator/4.ParcurgereMatrici/.vs/ParcurgereMatrici/FileContentIndex
/POO/Lab5/Lab5/.vs/Lab5/FileContentIndex/5006f2e3-349a-4855-89f1-aa550e1fd6d3.vsidx
/POO/Lab5/Lab5/.vs/Lab5/FileContentIndex/0b13de73-a2e9-4003-99c5-4ededdb42609.vsidx
/POO/Lab6/.vs/Lab6/FileContentIndex/4466a880-c274-4822-8a3d-3c3be4f71d95.vsidx
/POO/Lab6/.vs/Lab6/FileContentIndex/fc21d88c-be71-4f52-8a81-4c77eba9f45f.vsidx
/GeoComputaionala/Seminar 8/.vs/Seminar 8/FileContentIndex
/AF/StackQueue/.vs/StackQueue/FileContentIndex
/AF/StackQueue1/.vs/StackQueue1/FileContentIndex/84c774fb-ef2a-427c-a1f9-b707e001147a.vsidx
/AF/Recursivitate/.vs/Recursivitate/FileContentIndex/0860bc29-fd1b-41ae-b2ad-1cd955e2ed64.vsidx
