################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeoComputaionala/Seminar2/Seminaru2/.vs/Seminaru2/FileContentIndex/421f0375-6229-4ecf-affc-9fb85d99c834.vsidx
/GeoComputaionala/Seminar2/Seminaru2/.vs/Seminaru2/FileContentIndex/c14bf95f-10e9-457b-b755-ae2829b1654c.vsidx
/AF/Curs3/.vs/Curs3/FileContentIndex/46410e4f-29a8-48b7-82c5-efb88c2161a8.vsidx
/AF/Curs3/.vs/Curs3/FileContentIndex/a67cde0f-7507-4745-840c-a74b0c5b2211.vsidx
/POO/Lab3/Laborator3/.vs/Laborator3/FileContentIndex/aa7d50b3-e225-4591-b430-411c812849ba.vsidx
/POO/Lab3/Laborator3/.vs/Laborator3/FileContentIndex/ee236888-88d6-4b99-8784-3db42b5cd7ab.vsidx
